# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
myenv/
env/

# Environment variables
.env

# Streamlit cache and temporary files
.streamlit/
*.db
*.sqlite3

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor folders
.vscode/
.idea/
